.container {
	display: flex;
}

.image {
	height: 40px;
	width: 40px;
}

.titre {
	font-size: 25px;
	font-weight: 400;
	padding-top: 5px;
	padding-left: 5px;
}

.subtitle {
	marging-left: 7px;
	white-space: nowrap;
}